 .targets{
    height: auto;
    width:378px;
    background-color: rgb(37, 137, 204);
    margin: 10px 30px;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0px;
}
 .deliveries{
    height: auto;
    width:378px;
    background-color: rgb(52, 171, 78);
    margin: 10px 30px;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0px;
}
.deliveries .deliveries-container {
    font-size: bold;
}
.deliveries-container, .rejections-container, .targets-container{
    display: flex;
    justify-content: space-around;
    padding: 0px 10px;
    font-size: 16px;
}
.deliveries-container{
    justify-content: space-between;
}
.rejections{
    height: auto;
    width: 200px;
    background-color: rgb(139, 4, 4);
    margin: 10px 30px;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0px;
}
.container b{
    text-align: center;
}
.container button {
    text-align: center;
}