.trackboard-wrapper{
    background-color: aliceblue;
    width: 1900px;
    height: 100%;
    padding: 100px 10px;
}
.trackboard-wrapper header{
    margin: 5px auto;
    padding: 10px 0;
    text-align: center;
}
.trackboard-wrapper header .logo{
    width: 200px;
}
.day-wrapper{
    
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    
}
.day-wrapper .col{
    margin: 2px;
    background-color: rgba(194, 189, 189, 0.356);
    padding: 2px;
    text-align: center;
    
    
}
.day-wrapper .day-title{
    font-weight: bold;
    margin: 15px 0px;
}
.date-strip{
    display: flex;
    margin: 10px 10px;
    justify-content: space-around;

}
.date-strip p{
    color: black;
    font-weight: 500;
}
.main-container{
    margin: 10px;
    color: aliceblue;
}
.section1,.section2,.section3{
    display: flex;
    justify-content: space-around;
}
.main-container .targets{
    height: auto;
    width: 400px;
    background-color: rgb(2, 49, 80);
    margin: 10px 30px;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0px;
}
.main-container .deliveries{
    height: auto;
    width: 400px;
    background-color: rgb(2, 75, 18);
    margin: 10px 30px;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0px;
}
.deliveries-container, .rejections-container, .targets-container{
    display: flex;
    justify-content: space-around;
}
.main-container .rejections{
    height: auto;
    width: 400px;
    background-color: rgb(139, 4, 4);
    margin: 10px 30px;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0px;
}

